.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .welcome-content {
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    margin-right: 10px;
  }