
<mat-card>
    <mat-card-header>
      <mat-card-title>Confirm Deletion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Are you sure you want to delete your profile?</p>
    </mat-card-content>
    <mat-card-actions>
      <p>  
      <button
          mat-raised-button
          (click)="confirmDelete()"
          color="primary"
          style="margin-right: 10px;"
        >
          Confirm
        </button>
        <button
          mat-raised-button
          (click)="cancelDelete()"
          color="primary"
          style="margin-right: 10px;"
          >
          Cancel  
        </button>
        </p>
    </mat-card-actions>
  </mat-card>
