
<mat-card>
    <mat-card-header>
      <mat-card-title>Confirm Deletion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Are you sure you want to delete your profile?</p>
    </mat-card-content>
    <mat-card-actions>
      <p>  
        <button mat-raised-button (click)="confirmDelete()" style="margin-right: 10px;" color="button">
          <span style="color: white;">Confirm</span>
        </button>
        <button mat-raised-button (click)="cancelDelete()" style="margin-right: 10px;" color="button">
          <span style="color: white;">Cancel</span>
        </button>
        </p>
    </mat-card-actions>
  </mat-card>
