
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>My Flix</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/profile">Profile</button>
        <button mat-button routerLink="/welcome">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="movie-container">
    <div class="scroll-container">
        <mat-card *ngFor="let movie of movies;" style="display: inline-block; margin-right: 20px;">
            <mat-card-header>
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
            </mat-card-header>
            <img src="{{movie.image}}" alt="{{movie.title}}" width="300" style="height: 400px; object-fit: cover;"/>
            <mat-card-actions>
                <button mat-raised-button class="custom-button"
                    (click)="openGenreDialog(movie.genre.name, movie.genre.description)">
                    Genre
                </button>
                <button mat-raised-button class="custom-button"
                    (click)="openDirectorDialog(movie.director.name, movie.director.bio)">
                    Director
                </button>
                <button mat-raised-button class="custom-button"
                (click)="openSynopsisDialog(movie.title, movie.description)">
                Synopsis
            </button>
                <mat-icon>favorite_border</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
