<nav class="navbar">
    <div class="navbar-container">
      <span class="navbar-brand">myFlix</span>
      <div class="navbar-links">
        <a routerLink="/profile" class="navbar-link">Profile</a>
        <a routerLink="/welcome" class="navbar-link">Logout</a>
      </div>
    </div>
  </nav>
  

<div class="movie-container">
    <div class="scroll-container">
        <mat-card *ngFor="let movie of movies;" class="movie-card">
            <mat-card-header>
                <mat-card-title style="font-size: 20px;">{{movie.title}}</mat-card-title>
                <mat-card-subtitle style="color:black">Directed by: {{movie.director.name}}</mat-card-subtitle>
            </mat-card-header>
            <div class="image-container">
                <img src="{{movie.image}}" alt="{{movie.title}}" class="movie-image"/>
            </div>
            <mat-card-actions class="movie-card-actions">
                <button mat-raised-button class="custom-button"
                    (click)="openGenreDialog(movie.genre.name, movie.genre.description)">
                    Genre
                </button>
                <button mat-raised-button class="custom-button"
                    (click)="openDirectorDialog(movie.director.name, movie.director.bio)">
                    Director
                </button>
                <button mat-raised-button class="custom-button"
                    (click)="openSynopsisDialog(movie.title, movie.description)">
                    Synopsis
                </button>
                <button mat-icon-button class="favorite-button" (click)="toggleFav(movie)">
                    <mat-icon *ngIf="isFav(movie)">favorite</mat-icon>
                    <mat-icon *ngIf="!isFav(movie)">favorite_border</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
